// Navigation Styles here
nav {
    .displayFlex(row, space-around, center);
    border-bottom: 1px dashed gray;
    @media (max-width: 500px) {
        .displayFlex(column, center, space-around);
    }
        div {
            width: 33%;
            .displayFlex(row, space-around, center);
            @media @mobile {
                width: 99%;
            }
                a {
                    
                    text-decoration: none;
                    color: black;
            
                    }
                }
        }
